{% extends "layout.html" %} {% block title %} Portfolio {% endblock %} {% block
main %}
<h1>Portfolio</h1>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Shares</th>
      <th>Price</th>
      <th>Total Value</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <td>{{stock.symbol}}</td>
      <td>{{stock.name}}</td>
      <td>{{stock.total_shares}}</td>
      <td>$ {{stock.price}}</td>
      <td>{{stock.price * stock.total_shares}} $</td>
    </tr>

    {% endfor %}
    <tr>
      <td colspan="4">Cash</td>
      <td>$ {{ cash }}</td>
    </tr>
    <tr>
      <td colspan="4">Total Value</td>
      <td>$ {{ total_value }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
